.lenovo {
  margin-left: 15px;
  width: 108px;
  height: 32px;
}
.samsung {
  margin-left: 15px;
  width: 116px;
  height: 38.52px;
}
.apple {
  margin-left: 15px;
  width: 44px;
  height: 44px;
}
.bosch {
  margin-left: 15px;
  width: 128px;
  height: 28.6px;
}
.hp {
  margin-left: 15px;
  width: 52px;
  height: 52px;
}
.acer {
  margin-left: 15px;
  width: 94px;
  height: 24px;
}
.view-sonic {
  margin-left: 15px;
  width: 128px;
  height: 21px;
}
.sony {
  margin-left: 15px;
  width: 128px;
  height: 25.6px;
}