@use 'variables' as *;

.navigation-menu__list {
  margin: 0px;
  height: 88px;
  list-style-type: none;
  background-color: $content-bg-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid $border-color;
  padding: 0px 15px;
  position: relative;
}
.navigation-menu__item {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
  background-color: $content-bg-color;
}
@media (min-width: 1120px) {
  .page__header--display-flex {
    display: flex;
  }
  .page__repair-and-check-status-link {
    display: flex !important;
    position: relative;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    margin-left: auto;
    padding-left: 60px;
    right: 30px;
  }
  .page__repair-and-check-status-link a {
    text-decoration: none;
    color: $text-color;
    font-weight: bold;
  }
  .page__repair-and-check-status-link img {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
}
