@use 'variables' as *;
.logo {
  cursor: pointer;
  width: 96.55px;
  height: 50.81px;
}
.navigation-menu__item.profile {
  cursor: pointer;
  margin: 10px 0px 10px 5px;
}
.navigation-menu__item.chat {
  cursor: pointer;
  margin: 10px 0px 10px 5px;
}
.navigation-menu__item.call {
  cursor: pointer;
  margin: 10px 0px 10px auto;
}
.navigation-menu__item.stick,
.navigation-menu__item.stick2,
.navigation-menu__item.stick-mobile {
  width: 2px;
  height: 32px;
  background-color: $contents-border-color;
}
.button-close-the-menu {
  cursor: pointer;
  border: none;
  background-color: $content-bg-color;
  margin: 5px 0 0 10px;
}
.repair {
  cursor: pointer;
  margin: 10px 0px 10px 5px;
}
.check-status {
  cursor: pointer;
  margin: 10px 5px 10px 5px;
}
.stick2 {
  margin: 10px 5px 10px 5px;
}
.stick {
  margin: 10px 0px 10px 5px;
}

@media (max-width: 767px) {
  .logo {
    cursor: pointer;
    width: 96.55px;
    height: 50.81px;
    margin: 0 10px;
  }
  .repair {
    cursor: pointer;
    margin: 10px 0px 10px auto;
  }
  .check-status {
    cursor: pointer;
    margin: 10px 5px 10px 5px;
  }
}
