@use 'variables' as *;
@use 'mixins' as *;

.page__main-content {
  background-color: $bg-color;
}
.main-content__text {
  margin: 15px 5px;
}
.main-content__text p {
  color: $text-color;
  @include text-parameters(400, 14px, 20px, -0.2px, none);
  margin: 10px 10px 10px 18px;
}
.main-content__logo-of-company-img:hover {
  transition: none;
  filter: none;
  background: transparent;
  transform: none;
  box-shadow: none;
}
.main-content__logo-of-company-img {
  border-radius: 12px;
}
@media (max-width: 767px) {
  .main-content__logo-of-company-img {
    width: 100%;
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .main-content__text {
    display: flex;
    @include grid-column(repeat(1fr, 2fr));
  }
  .main-content__logo-of-company-img {
    min-width: 360px;
    min-height: 208px;
    margin-top: 0;
  }
}
@media (min-width: 1120px) {
  .main-content__logo-of-company-img {
    min-width: 531.35px;
    min-height: 307px;
  }
  .main-content__text {
    display: flex;
    margin-top: 5px;
    @include grid-column(repeat(1fr, 2fr));
  }
   .text--vision-for-min-width1120px {
    display: inline;
  }
}
