@media (max-width: 767px) {
  .main-container {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .main-container {
    margin-left: 0;
    overflow-x: hidden;
  }
}
@media (min-width: 1120px) {
  .main-container {
    overflow-x: hidden;
    margin-left: 320px;
  }
}
