
$bg-color: #F8F8F8;
$text-color: #1B1C21;
$header-color:#7E7E82;
$section-header-color:linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
$content-bg-color: #FFFFFF;
$contents-border-color: #EAEAEA;
$button-color: #FF3E79;
$border-color:#D9FFF5;
$highlight-color: #B8FFEC;
$header-hg-color: #41F6D7;
$img-bg-color:rgb(12, 216, 231);
$img-box-shadow-hover-color:0px 1px 10px rgba(20, 213, 230, 0.884);
$navigation-box-shadow: 8px 0 12px -2px rgba(0, 0, 0, 0.3);