@use 'burger-menu';
@font-face {
  font-family: 'TTLakes-Regular';
  src: url('/src/fonts/TTLakes-Regular.ttf') format('truetype');
}
body {
  margin: 0;
  font-family: 'TTLakes-Regular';
  background-color: #f8f8f8;
}
.title {
  height: 56px;
  min-width: 320px;
  border-top: 1px solid #d9fff5;
  background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
  display: flex;
  padding-left: 16px;
  flex-wrap: nowrap;
}
.title h2 {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  color: #7e7e82;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  font-size: 16px;
}
//web-core-6.8
.page__menu {
  width: 100%;
  margin: 0px;
  height: 88px;
  list-style-type: none;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid #d9fff5;
  padding: 0px 15px;
  position: relative;
}
.page__menu--elements {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ffffff;
}
.close-button {
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}
.logo {
  cursor: pointer;
  width: 96.55px;
  height: 50.81px;
  position: absolute;
  left: 90px;
}
.stick {
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}
.stick2,
.stick-mobile {
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}
.page__main {
  background-color: #f8f8f8;
}
.page__name {
  margin: 15px 0;
  padding-left: 15px;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -0.6px;
  border-left: 4px solid #41f6d7;
  border-radius: 6px;
}
.repair {
  cursor: pointer;
  position: absolute;
  right: 100px;
}
.check-status {
  cursor: pointer;
  position: absolute;
  right: 45px;
}
.stick {
  position: absolute;
  right: 160px;
}
.page__menu--elements.profile {
  cursor: pointer;
  position: absolute;
  right: 180px;
}

.page__menu--elements.chat {
  cursor: pointer;
  position: absolute;
  right: 290px;
}

.page__menu--elements.call {
  cursor: pointer;
  position: absolute;
  right: 235px;
}

.stick2 {
  position: absolute;
  left: 70px;
}

.page__menu-second ul {
  padding: 5px;
  gap: 10px;
  display: flex;
  list-style-type: none;
  margin: 5px 5px 10px 0px;
}
.page__menu-second--elements {
  margin: 5px 10px;
  padding: 8px 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}
.page__menu-second--elements.item1 {
  border: 2px solid #b8ffec;
  border-radius: 6%;
  background-color: #ffffff;
  margin-left: 15px;
}
.main-text {
  margin: 15px 5px;
}
.main-text p {
  color: #1b1c21;
  font-weight: 400px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin: 10px 10px 10px 18px;
}
.main__read-more {
  display: flex;
  cursor: pointer;
  margin-left: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  gap: 5px;
  width: 132px;
  height: 24px;
}
//web-core-7.8
.lenovo {
  margin-left: 15px;
  width: 108px;
  height: 32px;
}
.samsung {
  margin-left: 15px;
  width: 116px;
  height: 38.52px;
}
.apple {
  margin-left: 15px;
  width: 44px;
  height: 44px;
}
.bosch {
  margin-left: 15px;
  width: 128px;
  height: 28.6px;
}
.hp {
  margin-left: 15px;
  width: 52px;
  height: 52px;
}
.acer {
  margin-left: 15px;
  width: 94px;
  height: 24px;
}
.view-sonic {
  margin-left: 15px;
  width: 128px;
  height: 21px;
}
.sony {
  margin-left: 15px;
  width: 128px;
  height: 25.6px;
}
.btn-next {
  margin: 0 15px;
  border: none;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
}
.text-container {
  padding: 20px;
}
.text-container p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1b1c21;
}
.text-container a {
  text-decoration: none;
  color: #1b1c21;
  font-weight: bold;
}
.text-container a span {
  color: #ff3e79;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 100px;
}
.emoji {
  padding-left: 5px;
}

.footer {
  margin-top: 25px;
  padding: 20px 20px 0 20px;
  border-top: 1px solid #d9fff5;
  height: 180px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #7e7e82;
}
@media (max-width: 767px) {
  .page__menu--elements.call,
  .page__menu--elements.chat,
  .page__menu--elements.profile,
  .stick,
  .stick2,
  .main__above-768px,
  .main__above-1120px,
  .page__repair-check-status,
  .showBtn,
  .hideBtn,
  .main-second-style__grid,
  .grid--elements,
  .tablet-version,
  .for-desktop-navigation-menu,
  .footer-tablet-desktop-version {
    display: none;
  }
  .main-container {
    margin-left: 0;
  }
  .page__name {
    margin-top: 24px;
  }
  .logo-of-company {
    margin-top: 20px;
  }
  .page__menu-second {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
  }
  .logo-of-company {
    width: 100%;
  }

  //web-core 7.8
  .swiper1 {
    width: 100%;
    height: 140px;
    margin: 0 auto;
  }
  .swiper-wrapper {
    margin-top: 16px;
    display: flex;
    align-items: flex-start;
    color: white;
  }
  .swiper-slide {
    gap: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    width: 240px !important;
    height: 72px;
    margin: 0 16px;
  }
  .swiper-pagination1,
  .swiper-pagination2,
  .swiper-pagination3 {
    color: #dddddd;
  }

  //web-core 9.6
  .swiper2 {
    width: 100%;
    height: 220px;
    margin: 0 auto;
  }
  .swiper-wrapper2 {
    display: flex;
    align-items: flex-start;
    color: white;
  }
  .swiper-slide2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    width: 240px;
    height: 160px;
    margin: 0 16px;
    color: #1b1c21;
  }

  .swiper-slide2 span {
    padding: 16px;
  }
  .swiper-slide2 img {
    position: absolute;
    right: 16px;
    bottom: 16px;
    margin: 0;
  }
  .swiper3 {
    height: 290px;
    margin: 0;
  }
  .swiper-wrappeer3 {
    display: flex;
    color: white;
    align-items: flex-start;
  }
  .swiper-slide3 {
    display: block;
    justify-content: center;
    width: 260px !important;
    height: 200px !important;
    padding: 16px;
  }
  .paragraph {
    margin: 0;
    color: #7e7e82;
    margin-bottom: 8px;
  }
  .swiper-slide3 button {
    text-transform: uppercase;
    width: 119px;
    height: 32px;
    border-radius: 16px;
    background-color: #ff3e79;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-left: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .repair-service {
    color: #1b1c21;
    display: flex;
  }
}
@media (min-width: 768px) {
  .page__menu--elements.call,
  .page__menu--elements.chat,
  .page__menu--elements.profile,
  .stick,
  .stick2,
  .main__above-768px,
  .tablet-version {
    display: block;
  }
  .stick-mobile,
  .main__above-1120px,
  .page__repair-check-status,
  .swiper,
  .swiper2,
  .swiper3,
  .for-desktop-navigation-menu,
  .desktop-version-elements,
  .footer-mobile-version {
    display: none;
  }
  .main-container {
    margin-left: 0;
    overflow-x: hidden;
  }
  .text-container {
    padding: 24px;
    max-width: 550px;
  }
  .page__name {
    margin-top: 24px;
  }
  .page__menu-second {
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
  }
  .main-text {
    display: flex;
  }
  .main-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  .logo-of-company {
    width: 360px;
    height: 208px;
    margin-top: 0;
  }

  //web-core 8.4
  .title {
    display: flex;
    height: 56px;
    padding-left: 24px;
  }
  //first section style test
  .main-second-style__grid {
    display: grid;
    margin: 24px 24px;
    grid-template-columns: repeat(3, minmax(235px, 1fr));
    grid-template-rows: repeat(2, 72px);
    row-gap: 24px;
  }
  .grid--elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 224px;
    height: 72px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
  }
  .grid-hidden-elements {
    display: grid;
    grid-template-columns: repeat(3, minmax(235px, 1fr));
    grid-template-rows: repeat(1, 72px);
    margin: 24px 24px 5px 24px;
    overflow: hidden;
    height: 0;
    opacity: 0;
  }
  .showBtn {
    margin: 10px 0 24px 25px;
    width: 134px;
    height: 24px;
    display: flex;
    border: none;
    color: #1b1c21;
    background-color: #f8f8f8;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
  }
  .hideBtn {
    margin-top: 24px;
    width: 88px;
    height: 24px;
    display: flex;
    border: none;
    color: #1b1c21;
    background-color: #f8f8f8;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    overflow: hidden;
    opacity: 0;
    height: 0;
  }
  //second section style
  .second-section-grid-style {
    display: grid;
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    grid-template-rows: repeat(1, 160px);
  }

  .second-section-grid-style__elements {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    width: 240px;
    height: 160px;
    color: #1b1c21;
    margin: 24px 24px;
    column-gap: 24px;
    row-gap: 24px;
    display: flex;
  }
  .second-section-grid-style__hidden-elements {
    display: grid;
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    grid-template-rows: repeat(1, 160px);
    column-gap: 24px;
    row-gap: 24px;
    margin: 24px 24px 5px 0;
    overflow: hidden;
    opacity: 0;
    height: 0;
  }
  .second-section-grid-style__elements--show-button {
    margin: 0 0 20px 20px;
    width: 134px;
    height: 24px;
    display: flex;
    border: none;
    color: #1b1c21;
    background-color: #f8f8f8;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
  .second-section-grid-style__elements--hide-button {
    width: 88px;
    height: 24px;
    display: flex;
    border: none;
    color: #1b1c21;
    background-color: #f8f8f8;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    overflow: hidden;
    opacity: 0;
    height: 0;
  }
  .page__third-section {
    color: #1b1c21;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    border-spacing: 23px;
    margin: 24px;
    width: 100%;
    border-radius: 6px;
    border-collapse: collapse;
  }
.page__third-section > tbody > tr {
border-bottom: 1px solid #000;
height: 64px ;
}
.page__third-section tbody {
  background-color: #ffffff;
}
 
  .page__third-section button {
    text-transform: uppercase;
    width: 119px;
    height: 32px;
    border-radius: 16px;
    background-color: #ff3e79;
    color: #ffffff;
    border: none;
    margin-left: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-tablet-desktop-version {
    display: flex;
    justify-content: space-between;
  }
  .footer {
    margin: 10px;
    padding: 30px;
    height: auto;
  }
}
@media (min-width: 1120px) {
  .page__nav,
  .swiper,
  .swiper-wrapper,
  .swiper-wrapper,
  .footer-for-mobile-version,
  .swiper-pagination,
  #navigation-menu-button,
  .footer-mobile-version {
    display: none;
  }
  .main__above-1120px,
  .page__repair-check-status,
  .big-space,
  .for-desktop-navigation-menu {
    display: block;
  }
  .main-container {
    overflow-x: hidden;
    margin-left: 320px;
  }
  .text-container {
    max-width: 550px;
  }
  .main__above-1120px {
    display: inline;
  }
  .page__name {
    white-space: nowrap;
    margin-top: 30px;
  }
  .logo-of-company {
    width: 531.35px;
    height: 307px;
  }
  .main-text {
    display: flex;
    grid-template-columns: repeat(1fr 2fr);
    margin-top: 0;
  }
  .main-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  .page__menu-second {
    margin-bottom: 0;
  }
  .page__menu-second ul {
    padding: 5px;
    gap: 10px;
    flex-wrap: wrap;
  }
  .page__new-menu {
    display: flex;
  }
  .page__repair-check-status {
    display: flex;
    position: relative;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    margin-left: auto;
    padding-left: 60px;
    right: 30px;
  }
  .page__repair-check-status a {
    text-decoration: none;
    color: #1b1c21;
    font-weight: bold;
  }
  .page__repair-check-status img {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  //web-core 8.4
  .desktop-version-elements {
    display: flex !important;
    justify-content: space-between;
  }
  .title {
    height: 56px;
    margin-bottom: 25px;
    padding-left: 32px;
  }
  .main-second-style__grid {
    display: grid;
    margin: 0 32px;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-template-rows: repeat(2, 72px);
    row-gap: 24px;
  }
  .grid--elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 72px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
  }
  .grid-hidden-elements {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-template-rows: repeat(1, 72px);
    overflow: hidden;
    height: 0;
    margin: 24px 32px 0 32px;
  }
  .showBtn {
    margin: 10px 0 24px 25px;
    width: 134px;
    height: 24px;
    display: flex;
    border: none;
    color: #1b1c21;
    background-color: #f8f8f8;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
  }
  .hideBtn {
    padding: 0;
    margin-top: 24px;
    width: 88px;
    height: 24px;
    display: flex;
    border: none;
    color: #1b1c21;
    background-color: #f8f8f8;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    overflow: hidden;
    opacity: 0;
    height: 0;
  }
  .second-section-grid-style {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-template-rows: repeat(1, 160px);
  }
  .second-section-grid-style__elements {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    width: 240px;
    height: 160px;
    color: #1b1c21;
    display: flex;
    margin: 0 24px;
    column-gap: 24px;
    row-gap: 24px;
  }
  .second-section-grid-style__hidden-elements {
    display: grid;
    grid-template-columns: repeat(4, minmax(235px, 1fr));
    grid-template-rows: repeat(1, 160px);
    column-gap: 24px;
    row-gap: 24px;
    margin: 24px 24px 5px 0;
    overflow: hidden;
    opacity: 0;
    height: 0;
  }
  .second-section-grid-style__elements--show-button {
    margin: 0 0 20px 15px;
    width: 134px;
    height: 24px;
    display: flex;
    border: none;
    color: #1b1c21;
    background-color: #f8f8f8;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
  .second-section-grid-style__elements--hide-button {
    margin-left: 18px;
    width: 88px;
    height: 24px;
    display: flex;
    border: none;
    color: #1b1c21;
    background-color: #f8f8f8;
    line-height: 24px;
    letter-spacing: -0.2px;
    overflow: hidden;
    opacity: 0;
    height: 0;
  }

  .navigation-menu {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: none !important;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 320px;
    height: 100dvh;
    min-height: 550px;
    overflow-y: auto;
  }
  .navigation-menu__up-buttons {
    width: 40px;
    height: 40px;
    margin: 23px 0px 50px 12px;
  }
  .navigation-menu__up-buttons a {
    width: 96.55px !important;
    height: 50.81px !important;
  }
  .navigation-menu__up-buttons span {
    margin-left: 135px !important;
  }
  img {
    transition: 0.4s ease-in-out;
    filter: drop-shadow(4px);
  }
  img:hover {
    background: silver;
    transform: translateY(-2px);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  }
  .navigation-menu__lists,
  .navigation-menu__down-buttons {
    list-style-type: none;
  }
  .navigation-menu__up-buttons {
    display: flex;
    gap: 20px;
  }
  .navigation-menu__lists {
    margin-left: -10px;
    line-height: 44px;
    letter-spacing: 0.2px;
    color: #1b1c21;
  }
  .navigation-menu__lists > span {
    border-left: 4px solid #41f6d7;
    padding-left: 12px;
    color: #7e7e82;
    margin-left: -20px;
  }
  .navigation-menu__down-buttons {
    display: flex;
    gap: 20px;
    margin: auto 0px 20px 12px;
  }
  .navigation-menu__contacts {
    color: #1b1c21;
    font-weight: bold;
    margin: 0 0 20px 15px;
  }
  .navigation-menu__contacts > p:nth-child {
    font: bolder;
    font-weight: 900;
  }
  .navigation-menu__contacts span:first-of-type {
    color: #7e7e82;
  }
  .footer-tablet-desktop-version {
    display: flex;
    justify-content: space-between;
  }
  .footer {
    margin: 10px;
    padding: 30px;
    height: auto;
  }
}

//navigation menu 7.8
#navigation-menu-button {
  display: block;
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.navigation-menu {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 0 12px -2px rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  width: 320px;
  height: 100dvh;
  min-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
}
.navigation-menu__up-buttons {
  width: 40px;
  height: 40px;
  margin: 18px 0px 50px 5px;
  display: flex;
  gap: 10px;
}
.button {
  border: none;
  outline: none;
  cursor: pointer;
}
.navigation-menu__up-buttons a {
  width: 96.55px !important;
  height: 50.81px !important;
  margin-left: 3px;
}
.navigation-menu__up-buttons span:last-child {
  margin: 0 23px 0 60px;
}
.effect-buttons {
  transition: 0.4s ease-in-out;
  filter: drop-shadow(4px);
  margin-left: 10px;
}
.effect-buttons:hover {
  background: silver;
  transform: translateY(-2px);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.navigation-menu__lists,
.navigation-menu__down-buttons {
  list-style-type: none;
}
.navigation-menu__lists {
  margin-left: -10px;
  line-height: 44px;
  letter-spacing: 0.2px;
  color: #1b1c21;
}
.navigation-menu__lists > span {
  border-left: 4px solid #41f6d7;
  padding-left: 12px;
  color: #7e7e82;
  margin-left: -20px;
}
.navigation-menu__down-buttons {
  display: flex;
  gap: 20px;
  margin: auto 0 0 8px;
}
.navigation-menu__contacts {
  color: #1b1c21;
  font-weight: bold;
  margin: 0 0 20px 18px;
}
.navigation-menu__contacts > p:nth-child {
  font: bolder;
  font-weight: 900;
}
.navigation-menu__contacts span:first-of-type {
  color: #7e7e82;
}
//navigation menu 7.8
